{% extends "base.jinja" %}

{% block content %}
    <h2>Pick Your Pokemon</h2>
    <form action="{{ url_for('collect.pick_pokemon') }}" method="post">
        {{ poke.hidden_tag() }}
        <p>
            {{ poke.pokemon.label }} <br>
            {{ poke.pokemon(size=32) }}
        </p>
        <p>
            {{ poke.submit(class='btn btn-primary') }}
        </p> 
        
        {% if data %}  
        <div class="card" style="width: 18rem;">
        <img src="{{ data['sprites']['front_default'] }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ data['name'] }}</h5>
                <p class="card-text">Type: {{ data['types'][0]['type']['name'] }}, {{  data['types'][1]['type']['name']}}<br>
                                    Abilities: {{ abilities[0] }}, {{ abilities[1] }} <br>
                                    Stats: <br>
                                    {{ stats[0] }}: {{ base_stat[0] }} <br>
                                    {{ stats[1] }}: {{ base_stat[1] }} <br>
                                    {{ stats[2] }}: {{ base_stat[2] }} <br>
                                    {{ stats[3] }}: {{ base_stat[3] }} <br>
                                    {{ stats[4] }}: {{ base_stat[4] }} <br>
                                    {{ stats[5] }}: {{ base_stat[5] }}</p>
                <a href="{{ url_for('collect.collect_card') }}" class="btn btn-primary">Collect</a>
            </div>
        </div>
        {% endif %}
    </form>
{% endblock content %}